In [1]:
pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import numpy as np
import pandas as pd

In [3]:
file_location = "D:/Users/SUUSER/Desktop/CS210 project/Data/Co2emission.xlsx"

In [4]:
data_file = pd.read_excel(file_location)

In [5]:
years = data_file.ix[:,1:10]
country = data_file.ix[:," "]
my_data = [country,years]
result = pd.concat(my_data, axis = 1)

In [6]:
china = result.ix[41,:]
us =  result.ix[206,:]
canada =  result.ix[35,:]
brasil =  result.ix[26,:]
indonesia =  result.ix[89,:]
india =  result.ix[88,:]
japan =  result.ix[97,:]
Turkey =  result.ix[198,:]

In [7]:
my_data = [china,us,canada,brasil,indonesia,india,japan,Turkey]
result = pd.concat(my_data, axis = 1)
#result.to_excel("result.xlsx")
result

        41             206     35      26         89     88     97      198
      China  United States  Canada  Brazil  Indonesia  India  Japan  Turkey
1990    2.2           19.3    15.7     1.4        0.8    0.7    8.9     2.7
2000    2.7           20.2    17.4     1.9        1.2    1.0    9.6     3.4
2007    5.2           19.2    16.4     1.9        1.6    1.2    9.8     4.1
2008    5.4           18.5    16.2     2.0        1.8    1.3    9.4     4.0
2009    5.7           17.2    14.8     1.9        1.9    1.4    8.6     3.9
2010    6.6           17.5    14.5     2.1        1.8    1.4    9.2     4.1
2011    7.2           17.0    14.5     2.2        2.3    1.5    9.3     4.4
2012    7.4           16.3    13.9     2.3        2.4    1.6    9.6     4.4
2013    7.6           16.4    13.5     2.5        1.9    1.6    9.8     4.2

In [8]:
result.columns = ["China","United States","Canada","Brazil","Indonesia","India","Japan","Turkey"]
result

      China  United States  Canada  Brazil  Indonesia  India  Japan  Turkey
      China  United States  Canada  Brazil  Indonesia  India  Japan  Turkey
1990    2.2           19.3    15.7     1.4        0.8    0.7    8.9     2.7
2000    2.7           20.2    17.4     1.9        1.2    1.0    9.6     3.4
2007    5.2           19.2    16.4     1.9        1.6    1.2    9.8     4.1
2008    5.4           18.5    16.2     2.0        1.8    1.3    9.4     4.0
2009    5.7           17.2    14.8     1.9        1.9    1.4    8.6     3.9
2010    6.6           17.5    14.5     2.1        1.8    1.4    9.2     4.1
2011    7.2           17.0    14.5     2.2        2.3    1.5    9.3     4.4
2012    7.4           16.3    13.9     2.3        2.4    1.6    9.6     4.4
2013    7.6           16.4    13.5     2.5        1.9    1.6    9.8     4.2

In [9]:
result = result.drop(result.index[0])
result

     China United States Canada Brazil Indonesia India Japan Turkey
1990   2.2          19.3   15.7    1.4       0.8   0.7   8.9    2.7
2000   2.7          20.2   17.4    1.9       1.2   1.0   9.6    3.4
2007   5.2          19.2   16.4    1.9       1.6   1.2   9.8    4.1
2008   5.4          18.5   16.2    2.0       1.8   1.3   9.4    4.0
2009   5.7          17.2   14.8    1.9       1.9   1.4   8.6    3.9
2010   6.6          17.5   14.5    2.1       1.8   1.4   9.2    4.1
2011   7.2          17.0   14.5    2.2       2.3   1.5   9.3    4.4
2012   7.4          16.3   13.9    2.3       2.4   1.6   9.6    4.4
2013   7.6          16.4   13.5    2.5       1.9   1.6   9.8    4.2

In [10]:
result.dtypes

China            object
United States    object
Canada           object
Brazil           object
Indonesia        object
India            object
Japan            object
Turkey           object
dtype: object

In [11]:
result.ix[:,:]  = result.ix[:,:].astype(float)
result.dtypes

China            float64
United States    float64
Canada           float64
Brazil           float64
Indonesia        float64
India            float64
Japan            float64
Turkey           float64
dtype: object

In [12]:
%matplotlib inline

In [13]:
import matplotlib.pyplot as plt

In [14]:
plt.bar(result["China"])

TypeError: bar() missing 1 required positional argument: 'height'